<ion-view cache-view="false" title="Login" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="login-form2" class="list" ng-controller="APICtrl" ng-init="loadConfiguration()">
            <div ng-controller="APICtrl" ng-show="!showLogin">
                Não contem uma configuração valida para integração.
                <label class="item item-input " id="login-input1">
                    <span class="input-label">Empresa</span>
                    <input type="text" ng-model="empUser" placeholder="">
                </label>
                <button id="login-button8" ng-click="getConfigs(empUser)" class=" button button-stable  button-block ">Configurar</button>
                
            </div>
            <div ng-controller="APICtrl" ng-show="showLogin">
                <div ng-controller="loginCtrl">
                    <ion-list id="login-list1">
                        <label class="item item-input " id="login-input1">
                            <span class="input-label">Username</span>
                            <input type="text" ng-model="loginUser" placeholder="">
                        </label>
                        <label class="item item-input " id="login-input2">
                            <span class="input-label">Password</span>
                            <input type="password" ng-model="loginPassword" placeholder="">
                        </label>
                    </ion-list>
                    <div class="spacer" style="height: 40px;"></div>
                    <button id="login-button8" ng-click="doLogin(loginUser, loginPassword)" class=" button button-stable  button-block ">Log in</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>