<ion-view title="Relatório" id="page8" class=" ">
    <ion-content ng-controller="vendaCtrl" ng-init="loadAllOrders()" padding="true" class="has-header">
        <form id="venda-form4" class="list ">

      <div class="row" id="cabecalho" style="">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <table border="0">
            <tbody>
              <tr>
              <td style="width: 130px;">
                <img src="http://www.finaideia.com.br/skin/frontend/default/theme389/images/logo.png" alt="logo" style="width: 100%;">
              </td>
              <td style="padding-left: 15px; vertical-align: top;">
                <strong>ISA SPIVACK EPP</strong><br>
                Rua Raul Pompéia, 451 - Vila Pompéia<br>
                São Paulo - SP - 05025010<br>
                Tel./Fax.: 11 33314445 - vendas@finaideia.com.br
              </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


        </form>
    </ion-content>
</ion-view>

<script id="editcart.html" type="text/ng-template">
</script>

<script id="methods.html" type="text/ng-template">
</script>