<ion-view title="Relatório" id="page8" class=" ">
    <ion-content ng-controller="vendaCtrl" ng-init="loadAllOrders()" padding="true" class="has-header">
        <form id="venda-form4" class="list ">
            <ion-list>
                <ion-item class="item-remove-animate" ng-repeat="x in ordersRel">
                    <ion-item class="item-icon-right" ng-controller="printCtrl">

                        <div class="input-wrapper">
                            <ion-label>
                                <h2>{{ x.FIRSTNAME }}</h2>
                                <p>{{x.DTA_CREATE}}</p>
                            </ion-label>
                        </div>
                        <ion-option-button class="button-assertive" ng-click="print(x)">
                            Imprimir
                        </ion-option-button>
                        <ion-option-button class="button-positive" ng-click="sendOrder(x)">
                            Reenviar
                        </ion-option-button>
                    
                    </ion-item>
                </ion-item>
            </ion-list>
        </form>
    </ion-content>
</ion-view>

<script id="editcart.html" type="text/ng-template">
</script>

<script id="methods.html" type="text/ng-template">
</script>