<ion-view title="venda" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="venda-form3" class="list ">
            <div id="blockOrder" ng-show="customer.length <= 0 || !customer">
                <img src="img/cart_blocked.png" width="50%" height="50%" style="display: block; margin-left: auto; margin-right: auto;">
                <span style="display: block; margin-left: 6%; margin-right: auto;">Para continuar a venda, informe um Cliente válido</span>
            </div>
            <div id="freeOrder" ng-show="customer.length > 0">
                <div ng-controller="vendaCtrl">
                    <input ng-model="barcodeNumber" ng-change="searchBarCode(barcodeNumber)" style="border:1px solid #ddd; display:inline; width: 50%; border-radius: 2px" type="text" name="barcode"><b>x</b>
                    <input ng-model="qtyProd" style="border:1px solid #ddd; display:inline; width: 45%; border-radius: 2px" type="text" name="qt">

                    <button ng-show="!currentItem" id="venda-button16" style="width:48% !important; display:inline;" ng-click="scanBarcode()" class="button button-positive button-block ">SCAN</button>
                    <button ng-show="currentItem" id="venda-button18" style="width:48% !important; display:inline;" ng-click="addToCart()" class="button button-positive button-block ">ADICIONAR</button>
                    <button id="venda-button11" ng-click="showPayMenu()" style="width:50% !important; display:inline;" class=" button button-balanced  button-block ">FINALIZAR</button>

                    <div ng-show="imageProd1" ng-click="imageProd1 = null;">
                        <img ng-src="{{imageProd1}}" alt="product" style="width:100%; height: 100%">
                    </div>

                    <div ng-show="!imageProd1">
                        <div id="semStock" ng-show="noStock">
                            <p id="venda-markdown2" style="color:#000000;" class=" ">
                                Estoque indisponivel
                            </p>
                        </div>
                        <p id="venda-markdown2" style="color:#000000;" class=" ">{{cartItens.length}} itens no Carrinho - R$ {{ totCar }}</p>
                        <ion-list>
                            <ion-item-sliding ng-repeat="x in cartItens">
                                <ion-item class="item-icon-right">
                                <div id="edtQty" ng-click="editQtyCart(x)">
                                    [{{ x.QTY }}]  {{ x.NAME }} - {{ x.PRICE }}
                                </div>
                                <i class="icon ion-close-round" ng-click="removeFromCart(x)"></i>
                                </ion-item>
                            </ion-item-sliding>
                        </ion-list>
                    </div>

                </div>
            </div>
        </form>
    </ion-content>
</ion-view>

<script id="editcart.html" type="text/ng-template">
   <ion-modal-view>
     <ion-header-bar>
       <h1 class="title">Editando Item</h1>
      </ion-header-bar>
      <ion-content>
        <h3 style="text-align: center">{{ edtItem }}</h3>

        <label class="item item-input " id="qtyItens">
            <input type="text" ng-model="qtyItemEDT" placeholder="Insira nova quantidade"></input>
        </label>
        <button ng-click="acceptModal(qtyItemEDT)" style="width:49% !important; display:inline;" class=" button button-balanced  button-block ">FINALIZAR</button>
        <button ng-click="closeModal()" style="width:49% !important; display:inline;" class=" button button-assertive  button-block ">CANCELAR</button>

      </ion-content>
    </ion-modal-view>
</script>

<script id="methods.html" type="text/ng-template">
   <ion-modal-view>
     <ion-header-bar>
       <h1 class="title">Medoto de Pagamento/Envio</h1>
      </ion-header-bar>
      <ion-content>
        <select name="repeatSelect" id="repeatSelect" ng-model="PaymentMethod.value">
            <option ng-repeat="payment in payments" value="{{payment.MTP_ID}}">{{payment.MTP_DESC}}</option>
        </select>

        <button ng-click="setPayMethod(PaymentMethod.value)" style="width:49% !important; display:inline;" class=" button button-balanced  button-block ">CONFIRMAR</button>
      </ion-content>
    </ion-modal-view>
</script>