<ion-view title="venda" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="venda-form3" class="list ">
            <div id="blockOrder" ng-show="customer.length <= 0 || !customer">
                <img src="img/cart_blocked.png" width="50%" height="50%" style="display: block; margin-left: auto; margin-right: auto;">
                <span style="display: block; margin-left: 6%; margin-right: auto;">Para continuar a venda, informe um Cliente válido</span>
            </div>
            <div id="freeOrder" ng-show="customer.length > 0">
                <div ng-controller="printCtrl">
                </div>
                <div ng-controller="barcodeCtrl" ng-show="showBarCodeRTC">
                    <div>
                      <div id="barcode">
                          <canvas id="barcodecanvasg"  style="position: absolute; z-index: 99"></canvas>
                          <video id="barcodevideo" autoplay  style="position: absolute; z-index: 97"></video>
                      </div>
                      <canvas id="barcodecanvas" style="position: absolute; z-index: 98"></canvas>
                      <div id="result"></div>
                    </div>
                    <button ng-click="showBarCodeRTC = false" style="width:50% !important; display:inline;" class=" button button-balanced  button-block ">CANCELAR</button>
                </div>

                <div ng-controller="vendaCtrl" ng-show="!showBarCodeRTC">
                    <div ng-controller="vendaCtrl">
                      <input  ng-disabled="closedOrder == 'S'" ng-model="barcodeNumber" ng-change="searchBarCode(barcodeNumber, qtyProd)" style="border:1px solid #ddd; display:inline; width: 50%; border-radius: 2px" type="text" name="barcode"><b>x</b>
                      <input  ng-disabled="closedOrder == 'S'" ng-model="qtyProd" style="border:1px solid #ddd; display:inline; width: 45%; border-radius: 2px" type="text" name="qt">
                      <button  ng-disabled="closedOrder == 'S'" ng-show="!currentItem" id="venda-button16" style="width:48% !important; display:inline;" ng-controller="barcodeCtrl" ng-click="scanBarcode()" class="button button-positive button-block ">SCAN</button>
                      <button  ng-disabled="closedOrder == 'S'" ng-show="currentItem" id="venda-button18" style="width:48% !important; display:inline;" ng-click="addToCart(); barcodeNumber = ''" class="button button-positive button-block ">ADICIONAR</button>
                      <button  ng-disabled="closedOrder == 'S' || cartItens.length <= 0" id="venda-button11" ng-click="showPayMenu()" style="width:50% !important; display:inline;" class=" button button-balanced  button-block ">FINALIZAR</button>

                      <div ng-show="imageProd1" ng-click="imageProd1 = null;">
                          <img ng-src="{{imageProd1}}" alt="product" style="width:100%; height: 100%">
                      </div>

                      <div ng-show="!imageProd1">
                          <div id="semStock" ng-show="noStock">
                              <p id="venda-markdown2" style="color:#000000;" class=" ">
                                  Estoque indisponivel
                              </p>
                          </div>
                          <p id="venda-markdown2" style="color:#000000;" class=" ">{{cartItens.length}} itens no Carrinho - {{ totCar | currency:"R$" }}</p>
                          <ion-list>
                              <ion-item-sliding ng-repeat="x in cartItens">
                                  <ion-item class="item-icon-right">
                                  <div id="edtQty" ng-click="editQtyCart(x)">
                                      [{{ x.QTY }}]  {{ x.NAME | limitTo:25 }} - {{ x.PRICE | currency:"R$" }}
                                  </div>
                                  <i class="icon ion-close-round" ng-click="removeFromCart(x)"></i>
                                  </ion-item>
                              </ion-item-sliding>
                          </ion-list>
                      </div>

                    </div>
                    <div ng-show="loadMode">
                      <button id="venda-button11" ng-controller="printCtrl" ng-click="cancelLoad()" class="  button button-assertive  button-block  ">CANCELAR EDIÇÃO</button>
                    </div>

                </div>
            </div>
        </form>
    </ion-content>
</ion-view>

<!-- RELATORIO -->
<div id="repForPrint" ng-controller="vendaCtrl" class="display: none;">
    <div class="container-fluid">
        <div class="row" id="cabecalho" style="">
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <table border="0">
                    <tbody>
                      <tr>
                      <td style="width: 130px;">
                        <img src="http://www.finaideia.com.br/skin/frontend/default/theme389/images/logo.png" alt="logo" style="width: 100%;">
                      </td>
                      <td style="padding-left: 15px; vertical-align: top;">
                        <strong>ISA SPIVACK EPP</strong><br>
                        Rua Raul Pompéia, 451 - Vila Pompéia<br>
                        São Paulo - SP - 05025010<br>
                        Tel./Fax.: 11 33314445 - vendas@finaideia.com.br
                      </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="row">
    <!-- CABECALHO -->
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
               <h1 style="font-size: 14px; cursor: pointer; margin-top: 20px; margin-bottom: 0px; font-weight: bold;" class="page-header">
                {{ orderPrint.customer }}
                </h1>
            </div>

    <!-- GRID -->
            <div class="table-responsive" style="clear: both">
                <table class="table table-striped" style="margin-bottom: 0px;">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Descrição</th>
                      <th>Qtd</th>
                      <th>Valor</th>
                      <th>Total</th>
                    </tr>
                  </thead>

                  <tbody id="gridProd">
                      <tr ng-repeat="x in orderPrint.items">
                        <td>{{ x.SKU }}</td>
                        <td>{{ x.DESC }}</td>
                        <td>{{ x.QTY }}</td>
                        <td>{{ x.PRICE | currency:"R$" }}</td>
                        <td>{{ x.QTY * x.PRICE | currency:"R$" }}</td>
                      </tr>
                  </tbody>
                </table>
            </div>

    <!-- TOTAL -->
            <div id="total-geral" style="" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
              <div align="right">
                <h3 style="margin-top: 0px; margin-bottom: 0px;">
                  <span class="label label-primary">Total</span>
                  <span id="spTotal2" class="label label-primary">{{ orderPrint.tot | currency:"R$" }}*</span>
                </h3>
              </div>
            </div>

    <!-- OBSERVACAO -->
            <div id="observacao-pedido" style="" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
              <div>
                <p style="font-weight: bold; font-size: 14px; margin-top: 5px;">
                  Forma de pagamento: <span id="forma_pagto">{{ orderPrint.payMet }}</span>
                </p>
                <p style="font-weight: bold; margin-top: 5px;">
                  * Cadastro sujeito a análise de crédito. Valores sujeitos a alterações de impostos.
                </p>
              </div>
            </div>

        </div>
    </div>
</div>
<!-- RELATORIO -->



<script id="editcart.html" type="text/ng-template">
   <ion-modal-view>
     <ion-header-bar>
       <h1 class="title">Editando Item</h1>
      </ion-header-bar>
      <ion-content>
        <h3 style="text-align: center">{{ edtItem }}</h3>

        <label class="item item-input " id="qtyItens">
            <input type="text" ng-model="qtyItemEDT" placeholder="Insira nova quantidade"></input>
        </label>
        <button ng-click="acceptModal(qtyItemEDT)" style="width:49% !important; display:inline;" class=" button button-balanced  button-block ">FINALIZAR</button>
        <button ng-click="closeModal()" style="width:49% !important; display:inline;" class=" button button-assertive  button-block ">CANCELAR</button>

        <div ng-show="imageProd1Edt">
          <img ng-src="{{imageProd1Edt}}" alt="product" style="width:100%; height: 100%">
        </div>

      </ion-content>
    </ion-modal-view>
</script>

<script id="methods.html" type="text/ng-template">
   <ion-modal-view>
      <ion-header-bar>
       <h1 class="title">Medoto de Pagamento</h1>
      </ion-header-bar>
      <ion-content>
        <ion-item>
            <label class = "item item-input item-select">
                <div class = "input-label">
                    Metodo Pag.
                </div>
                <select ng-model="PaymentMethod.value" ng-options="item.MTP_DESC for item in payments">
                 <option value="">Escolha um metodo</option>
                </select>
                {{PaymentMethod}}
            </label>    
        </ion-item> 
        <ion-item>
            <button ng-show="loadMode" ng-click="setPayMethod(PaymentMethod, 'UPDT')" style="width:49% !important; display:inline;" class=" button button-balanced  button-block ">ATUALIZAR</button>
            <button ng-show="!loadMode" ng-click="setPayMethod(PaymentMethod, 'INS')" style="width:49% !important; display:inline;" class=" button button-balanced  button-block ">CONFIRMAR</button>
            <button ng-click="modalMethods.hide()" style="width:49% !important; display:inline;" class="  button button-assertive  button-block  ">CANCELAR</button>
        </ion-item>
      </ion-content>
    </ion-modal-view>
</script>